<LIMIT GET HEAD>
    RewriteEngine On

    # Files in these directories will be served as-is
    RewriteRule ^assets/    - [L]
    RewriteRule ^files/     - [L]

    # Everything else goes to index.php
    RewriteRule . index.php [L,QSA]
</LIMIT>
