<?php
/**
 * config.php
 *
 * Copy this file to config.php in this directory, change the settings
 * to match your environment.
 *
 * @author Ross Perkins <ross@vubeology.com>
 */

return array(

    /**
     * Filesystem path to the root directory of metadata and (possibly) box files
     *
     * If this is not an absolute directory, it is relative to the
     * current directory.
     */
    'metadata-root' => 'files',

    /**
     * The http/path location where to find the download box files.
     *
     * If you do not include a leading "(file|ftp|http|https)://" in the URL then
     * the base URI of the current application will be used as a default, so the
     * files will be served by the web server out of the files sub-directory.
     *
     * In the default example where metadata-root="files", we specify here the
     * relative value "files" which maps to the same directory as metadata-root.
     *
     * This is only used if the metadata.json files use the
     * {{download_url_prefix}} template variable.
     *
     * For example they may specify a version like this:
     *
     * "versions" => [{
     *   "version" => "1.1.0",
     *   "providers" => [{
     *     "name": "virtualbox",
     *     "url": "{{download_url_prefix}}{{path_info}}\/foo-1.1.0-virtualbox.box",
     *   }]
     * }]
     */
    'download-url-prefix' => 'files',

    /**
     * Base URI to where catalog metadata files are served from
     *
     * This is a virtual URL under the current directory.  It should NOT
     * be a full URL, it should just be a path.
     */
    'catalog-uri' => 'catalog',
);
